{% extends "base.html" %}
{% block content %}
{% comment %} {{form}} {% endcomment %}


<div class="flex justify-center mt-5">
<form method="post" id="main" class=" max-w-sm ml-1 border p-5  rounded-lg w-1/2" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-5 ">
        <label for="customer-ac-no" class="block mb-2 text-sm font-medium text-black-900 dark:text-black">Username </label>
        <input type="text" name="username" class="shadow-sm bg-black-50 border border-black-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-black-700 dark:border-black-600 dark:placeholder-black-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
    </div>

    <div class="mb-5 ">
        <label for="customer-name" class="block mb-2 text-sm font-medium text-black-900 dark:text-black">Password </label>
        <input type="password" name="password" class="shadow-sm bg-black-50 border border-black-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-black-700 dark:border-black-600 dark:placeholder-black-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
        
    </div>

 

    <div class="flex gap-2 justify-between">
      <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-1 focus:outline-none  font-medium rounded-lg text-sm px-1 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
  </div>
  
</form>
</div>
{% endblock content %}